#vault-page li {
  height: 50px !important;
  margin: 1px !important;
  padding: 0px !important;
  border: 1px solid #666 !important;
  overflow: hidden !important;
}

#vault-page .item-info {
  height: 50px !important;
}

#vault-page .item {
  height: 50px !important;
  padding-top: 10px !important;
}

#vault-page .bonus_item_img {
  background: none !important;
  height: 50px !important;
  margin: 0px !important;
  width: 50px !important;
}

#vault-page .item-info .info-text {
  height: 50px !important;
  overflow: hidden !important;
}

#vault-page .bonus_item_img div {
  overflow: unset !important;
  margin: 5px !important;
}

#vault-page .bonus_item_img div img {
  height: 40px !important;
  width: 40px !important;
  position: relative !important;
}

#vault-page .item.standard > label {
  display: none !important;
}

